body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #bf052b;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}

.items-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.items-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.item {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 2px;
}

.place {
  margin-top: 10px;
}

.rating {
  display: flex;
  line-height: 32px;
}

.number {
  font-size: 24px;
}

.star-icon {
  font-size: 18px;
  color: #bf052b;
  vertical-align: middle;
  margin-left: 3px;
  margin-right: 6px;
}

.search-container {
  margin-bottom: 20px;
}

#search-bar {
  padding: 8px;
  width: 200px;
  font-size: 16px;
}

/* Grid layout for desktop */
@media screen and (min-width: 600px) {
  #items-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
}

/* Scrollable list for mobile */
@media screen and (max-width: 600px) {
  .items-card {
    max-width: 100%;
    overflow: auto;
  }
}